<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    SF Advanced Tools is a suite of profile tools for Salesforce that allows Salesforce 
                    Administrator and Developer to update various aspects of Salesforce profiles IN BULK. 
                    It eases your burdain and helps to increase the productivity by allowing bulk adjustments
                    to profiles in Salesforce.
                </div>
                <div class="card-footer">
                    <button class=" btn btn-fill btn-danger" type="submit" style="margin-right: 10px;">
                        Connect To Production
                    </button>
                    <button class=" btn btn-fill btn-danger" type="submit">Connect To Sandbox</button>
                </div>
            </div>
        </div>
    </div>
</div>